@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

h1{
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 22px;
}

h2{
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 18px;
}

td, th {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
  background-color: SlateGrey;
  color: white;
}

tr:hover{
  background-color: #CDD2D6;
  cursor: pointer;
}